In [35]:
import numpy as np
import pandas as pd

In [36]:
tup=4,5,6

In [37]:
tup

(4, 5, 6)

In [38]:
nested_tup=(4,5,6),(7,8)

In [39]:
nested_tup

((4, 5, 6), (7, 8))

In [40]:
tuple([4,0,2])

(4, 0, 2)

In [41]:
tup=tuple('string')

In [42]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [43]:
tup[0]

's'

In [44]:
tup=tuple(['foo',[1,2],True])

In [45]:
tup[2]

True

In [46]:
tup[1].append(3)

In [47]:
tup

('foo', [1, 2, 3], True)

In [48]:
string=['a','as','bata','car','dove','python']

In [49]:
[x.upper() for x in string if len(x)>2]

['BATA', 'CAR', 'DOVE', 'PYTHON']

In [50]:
unique_lengths={len(x) for x in string}

In [51]:
unique_lengths

{1, 2, 3, 4, 6}

In [52]:
set(map(len,string))

{1, 2, 3, 4, 6}

In [53]:
loc_mapping={val:index for index,val in enumerate(string)}

In [54]:
loc_mapping

{'a': 0, 'as': 1, 'bata': 2, 'car': 3, 'dove': 4, 'python': 5}

In [55]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [56]:
lt=[name for names in all_data for name in names if name.count('e')>=2]

In [57]:
lt

['Steven']

In [58]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]

In [59]:
flattened=[x for tup in some_tuples for x in tup]

In [60]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [65]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [66]:
string.sorted(key=lambda x:len(set(list(x))))

AttributeError: 'list' object has no attribute 'sorted'

In [64]:
strings

['foo', 'card', 'bar', 'aaaa', 'abab']

In [67]:
def squares(n=10):
    print('Genen squares from 1 to {0}'.format(n**2))
    for i in range(1,n+1):
        yield i**2

In [68]:
gen=squares()

In [69]:
gen

In [70]:
for x in gen:
    print(x,end='')

Genen squares from 1 to 100
149162536496481100

In [71]:
gen=(x**2 for i in range(100))

In [72]:
gen

In [73]:
def _make_gen():
    for x in range(100):
        yield x**2
gen=_make_gen()

In [74]:
sum(x**2 for x in range(100))

328350

In [75]:
for x in gen:
    print(x,end='')

014916253649648110012114416919622525628932436140044148452957662567672978484190096110241089115612251296136914441521160016811764184919362025211622092304240125002601270428092916302531363249336434813600372138443969409642254356448946244761490050415184532954765625577659296084624164006561672468897056722573967569774479218100828184648649883690259216940996049801

In [104]:
import itertools
first_letter=lambda x:x[0] #0代表用第一个字母来排序，然后只会按相邻的来排序，如果发现后面一个字母不是同一个字母则跳过。

In [106]:
names = ['Alan', 'Adam', 'Wes', 'Will' ,'Albert', 'Steven']

In [107]:
for letter,names in itertools.groupby(names,first_letter):
    print(letter,list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [110]:
a = [(1, 2), (4, 1), (9, 10), (13, -3)]
a.sort(key=lambda x: x[1])#1表示按第二个数字来排序
print(a)

[(13, -3), (4, 1), (1, 2), (9, 10)]

In [111]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [112]:
attempt_float('1.23243')

1.23243

In [113]:
attempt_float('something')

'something'

In [114]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError,ValueError):
        return x

In [115]:
attempt_float((1,2))

(1, 2)