In [1]:
import numpy as np
import pandas as pd

In [2]:
import pytz

In [3]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [4]:
tz=pytz.timezone('America/New_York')

In [5]:
tz

In [6]:
rng=pd.date_range('3/9/2012 9:30',periods=6,freq='D')

In [7]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [8]:
ts

2012-03-09 09:30:00   -0.000826
2012-03-10 09:30:00    0.843608
2012-03-11 09:30:00   -1.072112
2012-03-12 09:30:00    0.790328
2012-03-13 09:30:00    1.339562
2012-03-14 09:30:00   -0.705016
Freq: D, dtype: float64

In [14]:
from pandas.tseries.offsets import Day,MonthEnd
from pandas.tseries.offsets import Hour,Minute
from datetime import datetime
from datetime import timedelta
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [15]:
ts

2012-03-09 09:30:00   -0.000826
2012-03-10 09:30:00    0.843608
2012-03-11 09:30:00   -1.072112
2012-03-12 09:30:00    0.790328
2012-03-13 09:30:00    1.339562
2012-03-14 09:30:00   -0.705016
Freq: D, dtype: float64

In [16]:
ts_utc=ts.tz_localize('UTC')

In [17]:
ts_utc

2012-03-09 09:30:00+00:00   -0.000826
2012-03-10 09:30:00+00:00    0.843608
2012-03-11 09:30:00+00:00   -1.072112
2012-03-12 09:30:00+00:00    0.790328
2012-03-13 09:30:00+00:00    1.339562
2012-03-14 09:30:00+00:00   -0.705016
Freq: D, dtype: float64

In [18]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [19]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.000826
2012-03-10 04:30:00-05:00    0.843608
2012-03-11 05:30:00-04:00   -1.072112
2012-03-12 05:30:00-04:00    0.790328
2012-03-13 05:30:00-04:00    1.339562
2012-03-14 05:30:00-04:00   -0.705016
Freq: D, dtype: float64

In [20]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.000826
2012-03-10 04:30:00-05:00    0.843608
2012-03-11 05:30:00-04:00   -1.072112
2012-03-12 05:30:00-04:00    0.790328
2012-03-13 05:30:00-04:00    1.339562
2012-03-14 05:30:00-04:00   -0.705016
Freq: D, dtype: float64

In [21]:
ts_eastern=ts.tz_localize('America/New_York')

In [22]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.000826
2012-03-10 14:30:00+00:00    0.843608
2012-03-11 13:30:00+00:00   -1.072112
2012-03-12 13:30:00+00:00    0.790328
2012-03-13 13:30:00+00:00    1.339562
2012-03-14 13:30:00+00:00   -0.705016
Freq: D, dtype: float64

In [23]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [24]:
stamp=pd.Timestamp('2011-03-12 04:00')

In [25]:
stamp_utc=stamp.tz_localize('utc')

In [26]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [27]:
stamp_moscow=pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow')

In [28]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [29]:
from pandas.tseries.offsets import Hour

In [30]:
stamp=pd.Timestamp('2012-03-12 01:30',tz='US/Eastern')

In [31]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [32]:
stamp+Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [33]:
rng=pd.date_range('3/7/2012 9:30',periods=10,freq='B')

In [34]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [35]:
ts

2012-03-07 09:30:00    0.040418
2012-03-08 09:30:00   -0.857703
2012-03-09 09:30:00    0.944845
2012-03-12 09:30:00   -1.156050
2012-03-13 09:30:00    0.781929
2012-03-14 09:30:00   -0.377419
2012-03-15 09:30:00    1.680020
2012-03-16 09:30:00    0.630883
2012-03-19 09:30:00    0.475441
2012-03-20 09:30:00   -0.336276
Freq: B, dtype: float64