In [1]:
import numpy as np
import pandas as pd

In [2]:
from datetime import datetime

In [3]:
now=datetime.now()

In [4]:
now

datetime.datetime(2019, 6, 29, 16, 57, 43, 247424)

In [5]:
now.year,now.month,now.day

(2019, 6, 29)

In [6]:
delta=datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [7]:
delta

datetime.timedelta(926, 56700)

In [8]:
delta.days

926

In [9]:
delta.seconds

56700

In [10]:
from datetime import timedelta

In [11]:
start=datetime(2011,1,7)

In [12]:
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start-2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [14]:
AA=2*timedelta(12)

In [15]:
AA

datetime.timedelta(24)

In [16]:
stamp=datetime(2011,1,3)

In [17]:
str(stamp)

'2011-01-03 00:00:00'

In [18]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [19]:
value='2011-01-03'

In [20]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [21]:
datestrs=['7/6/2011','8/6/2011']

In [24]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [25]:
from dateutil.parser import parse

In [26]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [27]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2019, 1, 31, 22, 45)

In [28]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [29]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [30]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [31]:
idx=pd.to_datetime(datestrs + [None])

In [32]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [33]:
idx[2]

NaT

In [34]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [35]:
from datetime import datetime

In [37]:
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011, 1, 7), datetime(2011, 1, 8),datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [38]:
ts=pd.Series(np.random.randn(6),index=dates)

In [39]:
ts

2011-01-02   -1.278427
2011-01-05    0.057282
2011-01-07    0.033134
2011-01-08    0.140299
2011-01-10   -2.146740
2011-01-12   -0.579029
dtype: float64

In [41]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [42]:
ts+ts[::2]

2011-01-02   -2.556854
2011-01-05         NaN
2011-01-07    0.066269
2011-01-08         NaN
2011-01-10   -4.293480
2011-01-12         NaN
dtype: float64

In [43]:
stamp=ts.index[0]

In [44]:
stamp

Timestamp('2011-01-02 00:00:00')

In [45]:
stamp=ts.index[2]

In [46]:
ts[stamp]

0.03313446705066226

In [47]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [48]:
longer_ts

2000-01-01   -0.518755
2000-01-02   -0.098833
2000-01-03    0.882640
2000-01-04   -0.793772
2000-01-05    0.099800
2000-01-06   -0.376418
2000-01-07   -0.511784
2000-01-08   -1.124203
2000-01-09    1.150602
2000-01-10    0.388992
2000-01-11   -0.831746
2000-01-12    0.324732
2000-01-13   -0.610213
2000-01-14   -1.663716
2000-01-15    0.489211
2000-01-16    0.312696
2000-01-17    1.391058
2000-01-18   -0.806243
2000-01-19    1.274891
2000-01-20   -0.244470
2000-01-21   -0.102511
2000-01-22    0.241299
2000-01-23    0.218312
2000-01-24   -2.536877
2000-01-25   -1.603417
2000-01-26   -0.998628
2000-01-27    0.806602
2000-01-28   -1.119865
2000-01-29   -1.802248
2000-01-30    1.389533
                ...
2002-08-28    1.003347
2002-08-29   -1.375126
2002-08-30   -1.861392
2002-08-31    1.352018
2002-09-01   -1.386744
2002-09-02    0.588558
2002-09-03    0.175238
2002-09-04    1.241757
2002-09-05    2.329787
2002-09-06   -0.601236
2002-09-07    0.802646
2002-09-08    0.653790
2002-09-09    0.153232
2002-09-10   -1.079198
2002-09-11   -1.679802
2002-09-12    0.343556
2002-09-13    0.551598
2002-09-14   -0.870369
2002-09-15   -0.330235
2002-09-16    0.707564
2002-09-17   -0.691799
2002-09-18    0.599810
2002-09-19   -0.832776
2002-09-20   -0.424138
2002-09-21   -0.242536
2002-09-22   -1.124674
2002-09-23   -0.672189
2002-09-24    0.930214
2002-09-25    0.007082
2002-09-26    0.178462
Freq: D, Length: 1000, dtype: float64

In [49]:
longer_ts['2001']

2001-01-01    1.322388
2001-01-02    0.348444
2001-01-03    0.951342
2001-01-04    0.200537
2001-01-05    0.611447
2001-01-06    0.590931
2001-01-07    1.043303
2001-01-08    0.272015
2001-01-09    0.168193
2001-01-10    2.032917
2001-01-11    0.022673
2001-01-12   -1.040084
2001-01-13   -0.597284
2001-01-14   -0.873489
2001-01-15   -1.562680
2001-01-16    0.125561
2001-01-17   -1.749321
2001-01-18    1.164064
2001-01-19    0.135683
2001-01-20   -0.368785
2001-01-21   -0.521382
2001-01-22    0.841375
2001-01-23   -0.302855
2001-01-24   -0.168507
2001-01-25   -0.048847
2001-01-26    1.374311
2001-01-27    0.718404
2001-01-28   -2.240552
2001-01-29    2.110923
2001-01-30   -0.622778
                ...
2001-12-02    0.440260
2001-12-03    0.807787
2001-12-04   -0.571442
2001-12-05    0.369374
2001-12-06    0.243935
2001-12-07    0.223910
2001-12-08    0.429829
2001-12-09    0.241049
2001-12-10    1.894891
2001-12-11    1.259160
2001-12-12   -0.180472
2001-12-13   -0.503410
2001-12-14   -1.081243
2001-12-15   -2.038476
2001-12-16    0.665630
2001-12-17    1.074847
2001-12-18    0.477740
2001-12-19    0.584003
2001-12-20   -1.649923
2001-12-21    1.446344
2001-12-22    0.974688
2001-12-23   -2.119837
2001-12-24   -0.375921
2001-12-25   -0.826103
2001-12-26    0.392471
2001-12-27    0.925277
2001-12-28    0.350331
2001-12-29    0.789398
2001-12-30   -0.290006
2001-12-31    1.045329
Freq: D, Length: 365, dtype: float64

In [50]:
longer_ts['2001-05']

2001-05-01    1.457425
2001-05-02   -1.240326
2001-05-03    0.523611
2001-05-04   -1.027415
2001-05-05    1.264172
2001-05-06    2.010248
2001-05-07    0.755432
2001-05-08    1.115013
2001-05-09    0.847229
2001-05-10   -1.658607
2001-05-11    0.196221
2001-05-12   -0.163476
2001-05-13   -0.113430
2001-05-14   -0.889040
2001-05-15    0.419857
2001-05-16   -0.505857
2001-05-17   -0.750633
2001-05-18   -0.128245
2001-05-19   -0.759829
2001-05-20   -0.139033
2001-05-21   -0.620564
2001-05-22   -1.090508
2001-05-23    1.190974
2001-05-24   -1.617685
2001-05-25   -0.320412
2001-05-26   -0.965642
2001-05-27    0.001155
2001-05-28    1.094168
2001-05-29   -0.776174
2001-05-30    0.818655
2001-05-31    0.872300
Freq: D, dtype: float64

In [51]:
ts[datetime(2011,1,7):]

2011-01-07    0.033134
2011-01-08    0.140299
2011-01-10   -2.146740
2011-01-12   -0.579029
dtype: float64

In [52]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

In [53]:
dup_ts=pd.Series(np.arange(5),index=dates)

In [54]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [55]:
dup_ts.index.is_unique

False

In [56]:
dup_ts['1/3/2000']

4

In [57]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [58]:
dup_ts['1/2/2000'].is_unique

True

In [59]:
grouped=dup_ts.groupby(level=0)

In [60]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [61]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [62]:
ts

2011-01-02   -1.278427
2011-01-05    0.057282
2011-01-07    0.033134
2011-01-08    0.140299
2011-01-10   -2.146740
2011-01-12   -0.579029
dtype: float64

In [63]:
resampler=ts.resample('D')

In [64]:
index=pd.date_range('2012-04-01','2012-06-01')

In [65]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [66]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [68]:
pd.date_range('2012-05-02 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [69]:
pd.date_range('2012-05-02 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [70]:
from pandas.tseries.offsets import Hour,Minute

In [71]:
hour=Hour()

In [72]:
four_hours=Hour(4)

In [73]:
four_hours

In [74]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [75]:
pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [76]:
rng=pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')

In [77]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [78]:
ts=pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [79]:
ts

2000-01-31   -1.230908
2000-02-29   -0.206371
2000-03-31    0.025888
2000-04-30    1.603597
Freq: M, dtype: float64

In [80]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.230908
2000-04-30   -0.206371
Freq: M, dtype: float64

In [81]:
ts.shift(-2)

2000-01-31    0.025888
2000-02-29    1.603597
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [82]:
ts.shift(2,freq='M')

2000-03-31   -1.230908
2000-04-30   -0.206371
2000-05-31    0.025888
2000-06-30    1.603597
Freq: M, dtype: float64

In [83]:
ts.shift(3,freq='D')

2000-02-03   -1.230908
2000-03-03   -0.206371
2000-04-03    0.025888
2000-05-03    1.603597
dtype: float64

In [84]:
from pandas.tseries.offsets import Day,MonthEnd

In [85]:
now=datetime(2011,11,17)

In [86]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [87]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [88]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [89]:
offset=MonthEnd()

In [90]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [91]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [92]:
ts=pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000',periods=20,freq='4d'))

In [93]:
ts

2000-01-15    1.252543
2000-01-19    2.316254
2000-01-23    1.898801
2000-01-27    0.040833
2000-01-31    0.930366
2000-02-04   -0.547014
2000-02-08    0.581289
2000-02-12   -0.886048
2000-02-16    0.660750
2000-02-20   -0.483812
2000-02-24    0.683439
2000-02-28    0.566299
2000-03-03   -2.338691
2000-03-07    1.907449
2000-03-11   -0.257912
2000-03-15   -1.277969
2000-03-19    1.031367
2000-03-23    0.048752
2000-03-27   -0.214795
2000-03-31   -1.441174
Freq: 4D, dtype: float64

In [94]:
ts.groupby(offset.rollforward).mean()

2000-01-31    1.287759
2000-02-29    0.082129
2000-03-31   -0.317872
dtype: float64

In [95]:
ts.resample('M').mean()

2000-01-31    1.287759
2000-02-29    0.082129
2000-03-31   -0.317872
Freq: M, dtype: float64