In [2]:
import numpy as np

In [3]:
data={i:np.random.randn() for i in range(7)}

In [4]:
data

{0: -0.3559810015587642,
 1: -0.11608824867386998,
 2: 0.7669276901245909,
 3: -0.8815061916349314,
 4: -0.5173318688823668,
 5: 1.2388013370001871,
 6: -0.29803399022736005}

In [5]:
import datetime

In [6]:
%paste
x=5 
y=7 
if x>5:
    x+=1 
    y=8

ERROR:root:Line magic function `%paste` not found.

In [7]:
data=[1,2,3]

In [8]:
def append_element(some_list,element):
    some_list.append(element)

In [9]:
append_element(data,4)

In [10]:
data

[1, 2, 3, 4]

In [11]:
a='foo'

In [13]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [14]:
isiterable('a string')

True

In [15]:
isiterable([1,2,3])

True

In [16]:
isiterable(5)

False

In [17]:
a_list=['foo',2,[4,5]]

In [18]:
a_list[2]=(3,4)

In [19]:
a_list

['foo', 2, (3, 4)]

In [21]:
a='one way of writting a string'
b='another way'
c='''
something is visuable
'''

In [22]:
c.count('\n')

2

In [23]:
a='this is a string'

In [24]:
a[10]='f'

TypeError: 'str' object does not support item assignment

In [27]:
b=a.replace('string','钱钱')

In [28]:
b

'this is a 钱钱'

In [29]:
a=5.6

In [30]:
s=str(a)

In [31]:
print(s)

5.6

In [32]:
s='python'

In [33]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [34]:
s[:3]

'pyt'

In [35]:
template='{0:.2f}{1:s} are worth US${2:d}'.format(4.234234,'千千',32)

In [36]:
template

'4.23千千 are worth US$32'

In [51]:
def add_and(a,b):
    result=a+b
#     if c is not None:
#         result=result*c
    return result

add_and(5,6)

In [52]:
print(add_and)

<function add_and at 0x11551b048>

In [53]:
from datetime import datetime,date,time

In [54]:
dt=datetime(2011,10,29,20,30,21)

In [55]:
dt.day

29

In [56]:
dt.minute

30

In [57]:
dt.date()

datetime.date(2011, 10, 29)